:root {
    font-size: 16px;
}

body {
    margin: 0;
}

.link() {
    cursor: pointer;
    border-bottom: 1px solid #0063a6;
    color: #0063a6;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
        color: #fc101b;
        border-bottom: 1px solid #fc101b;
    }
}

a {
    .link();
}

@gray: #efefef;
@off-white: #f9f9f9;

@cell: 7px;
@matrix: calc(100 * @cell);

.page {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px 0 0;
    width: @matrix;

    & > .content {
        min-height: calc(100vh - 90px);
    }

    & > footer {
        border-top: 1px solid @gray;
        font-size: 0.8em;
        padding: 20px 0 10px;
        text-align: center;
    }
}

blockquote {
    background: @off-white;
    border-left: 5px solid #777;
    margin: 1.5em 10px;
    padding: 0.5em 10px;

    &::before {
        color: #777;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }

    p {
        display: inline;
    }
}

.controls {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    position: relative;
    text-align: center;

    .control {
        .link();
    }

    .state {
        position: absolute;
        right: 10px;
    }
}

.matrix {
    margin: 0 auto;
    width: @matrix;
    height: @matrix;
    display: grid;
    grid-auto-flow: row;

    .row {
        display: grid;
        grid-auto-flow: column;
    }

    .cell {
        box-sizing: border-box;
        border: 1px solid @gray;
        cursor: pointer;
        display: block;
        width: @cell;
        height: @cell;

        &:hover {
            background-color: rgba(0,0,0,.2);
        }

        &.alive {
            background-color: #333;
        }
    }
}
